body {
    margin: 0;
}



a {
    color: pink;
}



a:link {
    color: pink;
    text-decoration: none;
}



a:visited {
    color: red;
}



a:focus {
    color: green;
    outline: 4px solid red;
}



a:hover {
    color: purple;
    text-decoration: underline;
}



a:active {
    color: blue;
}







